[Unit]
Description=Run Smart Plug Monitoring Agent every 5 minutes
Requires=smartplug_agent.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
