[Unit]
Description=Run Smart Plug Monitoring Agent
Requires=smartplug_agent.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
